header {
    display: block;
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
    font-family: 'Press Start 2P', cursive;
    color: white;
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 4px dotted white;
}

#game-image {
    height: 100%;
    width: 50%;
    float: left;
    text-align: center;
    color: white;
    font-size: 150%;
    font-family: 'Press Start 2P', cursive;    
}

#game-image p {
    margin-top: 0.5em;
}

#retry-button {
    display: none;
}

#currentWord {
    font-family: 'Press Start 2P', cursive;    
}

#game-image img {
    max-width: 70%;
    border: 2px solid white;
}

#game-content {
    width: 50%;
    float: right;
    text-align: center;
    color: white;
    font-size: 125%;
    font-family: 'Share Tech Mono', monospace;
}

#game-content p {
    margin-bottom: 1em;
}

#currentWord {
    letter-spacing: 0.5em;
}

.container {
    min-height: calc(100vh - 4em);
    display: block;
}

body {
    position: relative;
    margin: 0;
    display: block;
    background: black;
}

.main_container {
    width: 80%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 4em;
}

html {
    height: 100%;
}

h2 {
    font-size: 125%;
    margin-bottom: 1em;
    text-align: center;
}

p {
    text-align: center;
}

#hidden-word {
    display: none;
}

button {
    font-size: 125%;
    margin: 1em;
    margin-top: 0;
    font-family: 'Press Start 2P', cursive;
    padding: 0.5em;
    border: 3px solid white;
    background: black;
    color: white;
}

#mobile-keyboard {
    display: none;
    background: black;
    color: white;
    border: 2px solid white;
    font-family: 'Share Tech Mono', monospace !important;
    padding: 0.15em;
}

/** Media Queries **/
/* Query for smaller desktop viewports (<=980px) */
@media only screen and (max-width: 980px) {
    .main_container {
        width: 60%;
        min-width: 700px;
        margin-left: auto;
        margin-right: autol
    }

    header {
        width: auto;
        max-width: 980px;
        min-width: 0px;
    }
    
}
/* Query for tablet screens (<=768px) */
@media only screen and (max-width: 768px) {
    .main_container {
        width: auto;
        min-width: 0;
        margin-left: 1em;
        margin-right: 1em;
    }

    header {
        width: auto;
        max-width: 768px;
        min-width: 0px;
    }

    #mobile-keyboard {
        display: inline;
    }

}
/* Query for phone screens (<=640px) */
@media only screen and (max-width: 640px) {
    .main_container {
        width: auto;
        margin-left: 1em;
        margin-right: 1em;
    }

    header {
        width: auto;
        max-width: 640px;
        min-width: 0px;
    }

    #game-content {
        float: none;
        display: block;
        width: 100%;
    }

    #game-content p {
        margin-bottom: 0.25em;
    }

    h2 {
        margin-bottom: 0.25em;
    }

    #start-button {
        margin-bottom: 0.25em;
    }

    #game-image {
        float: none;
        display: block;
        width: auto;
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }

    .content {
        margin-left: auto;
        margin-right: auto;
        padding: 0 1em 0 1em;
    }

    header {
        margin-top: 0.5em;
        padding-bottom: 0.5em;
        font-size: 150%;
    }



}

